.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
    color: white

}



body {
    font-family: sans-serif;
    background-color: lightgray;
}

h1 {color :white;}
}
h2,
h3,
h4 {
    color: black;
}

.column {
    float: left;
    width: 33.33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

}

.header a:hover {
  background-color: lightgreen;
  color: black;
}

h1 {font-family: "Comic Sans MS", cursive, sans-serif;
margin: 0; }
h2 {
    font-family: ""Courier New", Courier, monospace";
    margin: 0;
}

}

h2 {
    font-size: 20em;
}

p,
dd,
dt {
    color: black;
}




.header {
    left: 50%;
    text-align: left;
    background-color: #2E8B57;
    color: white;
}



.pane {
    position: absolute;
    left: 42%;
    border: 2px solid;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    border-color: #999999;
    background-color: white
}

.name {
    width: 80%;
    display: inline-block;
    float: left;
    color: #f2f2f2;
}

.Buttons {

  text-align: left;
}

.description {}

.footer {
      position: fixed;
      left: 0;
      bottom: 50;
      width: 100%;
      background-color: darkgray;
      color: white;
      text-align: center;
  }

.editdeletepane {
  text-align: left;
  width: 50%;
  float: left;
  color: green;
}

.flash {
    background: lightgreen;
}
