
<html>

<body>

  {% include "header.html" %}
          <div class = 'header'>
            <h1> Catalog App </h1>
          </div>


      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles_copy.css') }}">
      <h1>{{category.name}}</h1>

      <div class = 'flash'>
            {% with messages = get_flashed_messages() %}
            {% if messages %}

              <ul>
              {% for message in messages %}
                  <li> <strong> {{ message }} </strong> </li>
              {% endfor %}
              </ul>
              {% endif %}
          {% endwith %}
      </div>
      <div class='Design'>
        <h3>Categories</h3>

        <nav>
            {% for i in category %}
            <div class='Black'>
            <a href='{{url_for('category_Items', category_id=i.id)}}'>{{i.name}}</a>
            <br></br>
            </div>
            {% endfor %}
        </nav>
      </div>






</body>

</html>
